<div style="text-align:center">
  <h1>Welcome to demo {{ title }}!</h1>
  <img
    style="background-color: black; padding: 16px;"
    width="300"
    alt="Angular Logo"
    src="./../assets/voyego.png"
  />
</div>
<div class="demo-api">
  <h2>Message: {{ someData$ | async | json }}</h2>
</div>

<h2>You think it's easy?</h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
        >Maybe it is</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://github.com/angular/angular-cli/wiki"
        >Not sure</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/"
        >Tom Hardy</a
      >
    </h2>
  </li>
</ul>
